@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
    
    
    
}
h1, h2, h3, h4{
	font-family: 'Droid Serif', serif;  /* you need a font stack here */
    padding: 10px;
    
    
}
h1{
	color: #FFFFFF;
    text-shadow: 1px 1px #FFFFFF;
    text-align: right;
    font-size: 6.854rem;
    width: 50%;
    padding-top: 10px;
    text-align: right;
    line-height: 90%;
    
    
    
}
h2{
	color: #CC3300;
    font-size: 4.236rem;
    text-shadow: 1px 1px #CC3300;
    
    
}
h3{
	color: #CC3300;
    font-size: 2.618rem;
    text-shadow: 1px 1px #CC3300;
}
h4{
	
}
p, li, a{
	font-family: 'Droid Sans', sans-serif; /* you need a font stack here */
    line-height: 150%;
    font-size: 1rem; 
    
}

img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
    
}
ul{
	list-style-type: none;
    padding-left: 100px;
    
    
}

a {
    
    display: block;
}

a:link, a:visited{
	transition: all 0.8s linear;
    color: #CC3300;
}
a:hover, a:active, a:focus{
	text-decoration: none;
    color: #BADA55;
}

/***********************************
		LAYOUT
***********************************/

.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
    
}
.header{
	background-color: #000;
    min-height: 400px;
    background-image: url(../img/moon-header.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    
}
.main{
	padding: 5px 50px;
}
.footer{
    background-color: #333333;
    width: 100%;
	
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	
}


/***********************************
		CONTENT
***********************************/
.header h1{

}
.main h2{
	
}
.main h3{
	
}
.main p{
    padding: 10px;
	
}
.main img{
    width: 20%;
    border-radius: 40%;
	/* use border-radius to crop image */
	/* choose a width percentage for the image too */
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
    font-size: 1rem;
    padding: 20px 60px;
    clear:both;
}
.footer li{
    margin-top: 20px;
    float:left;
    width: 50%;
   

    /* make these 50% the width of the footer */
}
@media screen and (max-width: 1000px) {
    p {
        font-size: 80%;
    }
    h1 {
        font-size: 4.236rem;
    }
    h2 {
        font-size: 2.618rem;
    }
    h3 {
        font-size: 1.618rem;
    }
    a {
        font-size: 80%;
    }
        
}